{% extends 'base.html' %}

{% block title %}
{{product.product_name}}
{% endblock %}

{% block content %}
<h2>{{product.product_name}}</h2>
<p>Added on: {{product.created_on}}</p>
<p>
            {% if product.product_image %}
    <img src="{{product.product_image.url}}" width="240"></p>
{% endif %}
        </p>
<p><span class="badge badge-primary">${{ product.s_price }}</span></p>
<p>{{product.product_description}}</p>

<a href="#" class="btn btn-primary float-right">Add to cart</a>

<br />
<h1> Reviews:</h1>

{% for review in product_reviews %}
<p>
    <small class="text-muted">Date: {{review.created_on}}</small>
    <br/>{{ review.review_comment }}
    <hr />
</p>
{% endfor %}

<br />
<a href="{% url 'productreview_create' product_id=product.product_id %}" class="btn btn-primary float-left">
    Add Review</a>
<br /> <br />
{% endblock %}
