{% extends 'base.html' %}

{% block title %}
Sub Categories
{% endblock %}

{% block content %}
<h1>Sub Categories</h1>

<table class="table table-striped">
<thead>
<tr>
<th scope="col">Sub Category Name</th>
<th scope="col">Description</th>
<th scope="col">CreatedOn</th>
<th scope="col">Actions</th>
</tr>
</thead>
<tbody>
{% for productsubcategory in object_list %}
<tr>
<td>{{ productsubcategory.sub_category_name }}</td>
<td>{{ productsubcategory.sub_category_description }}</td>
<td>{{ productsubcategory.created_on }}</td>
<td>
<a  href="{% url 'productsubcategory_detail'  productsubcategory.product_sub_category_id  %}">details</a>
<a  href="{% url 'productsubcategory_update'  productsubcategory.product_sub_category_id  %}">edit</a>
<a  href="{% url 'productsubcategory_delete'  productsubcategory.product_sub_category_id  %}">delete</a>
</td>
</tr>

{% endfor %}
</tbody>
</table>
{% endblock %}