{% extends 'base.html' %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<h2>Categories</h2>

<table class="table table-striped">
<thead>
<tr>
<th scope="col">Category Name</th>
<th scope="col">Description</th>
<th scope="col">CreatedOn</th>
<th scope="col">Actions</th>
</tr>
</thead>
<tbody>
{% for productcategory in object_list %}
<tr>
<td>{{ productcategory.category_name }}</td>
<td>{{ productcategory.category_description }}</td>
<td>{{ productcategory.created_on }}</td>
<td>
<a  href="{% url 'productcategory_detail'  productcategory.product_category_id  %}">details</a>
<a  href="{% url 'productcategory_update'  productcategory.product_category_id  %}">edit</a>
<a  href="{% url 'productcategory_delete'  productcategory.product_category_id  %}">delete</a>
</td>
</tr>

{% endfor %}
</tbody>
</table>
{% endblock %}