{% extends 'base.html' %}

{% block title %}
Products
{% endblock %}

{% block content %}

<h1>Products</h1>

<table class="table table-striped">
<thead>
<tr>
<th scope="col">ProductName</th>
<th scope="col">Description</th>
<th scope="col">CreatedOn</th>
<th scope="col">Actions</th>
</tr>
</thead>
<tbody>
{% for product in object_list %}
<tr>
<td>{{ product.product_name }}</td>
<td>{{ product.product_description }}</td>
<td>{{ product.created_on }}</td>
<td>
<a  href="{% url 'product_detail'  product.product_id  %}">details</a>
<a  href="{% url 'product_update'  product.product_id  %}">edit</a>
<a  href="{% url 'product_delete'  product.product_id  %}">delete</a>
</td>
</tr>

{% endfor %}
</tbody>
</table>

{% endblock %}
