{% extends 'base.html' %}

<h1>Categories</h1>

<table>
<thead>
<tr>
<th>CategoryName</th>
<th>Description</th>
<th>CreatedOn</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% for productcategory in object_list %}
<tr>
<td>{{ productcategory.category_name }}</td>
<td>{{ productcategory.category_description }}</td>
<td>{{ productcategory.created_on }}</td>
<td>
<a  href="{% url 'productcategory_detail'  productcategory.product_category_id  %}">details</a>
<a  href="{% url 'productcategory_update'  productcategory.product_category_id  %}">edit</a>
<a  href="{% url 'productcategory_delete'  productcategory.product_category_id  %}">delete</a>
</td>
</tr>

{% endfor %}
</tbody>
</table>