<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
          <!--integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"-->
          <!--rel="stylesheet">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>{% block title %}Ecommerce Website{% endblock %}</title>
</head>
<body>
<div>
    <div>
        <div>
            <header>
                <div class="container">
                <h1>Ecommerce</h1>
                </div>
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="#">Ecommerce</a>
                        <button class="navbar-toggler"
                        data-toggle="collapse"
                        data-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                        </li>
                        {% for page in pages_menu %}

                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'search-product-categories' product_category_id=page.product_category_id %}">{{page.menu_title}}</a>
                        </li>

                        {% endfor %}

                    </ul>

                    <ul class="navbar-nav ml-auto">

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product_create' %}">Add Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'productcategory_create' %}">Add Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'productsubcategory_create' %}">Add Subcategory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">signup</a>
                        </li>
                        {% endif %}


                    </ul>

                        </div>

                        </div>
                </nav>

                <hr>
            </header>
            <main>
                <div class="container">
                {% block content %}
                {% endblock %}
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>