{% extends 'base.html' %}

{% block title %}
{{page_title}}
{% endblock %}

{% block content %}

<div class="container">
        <div class="row">

{% for product in allProducts %}

        <div class="col-md-6 col-lg-4">
                        <div class="card mb-4">
    <div class="card-body">

<h4 class="card-title">{{ product.product_name }}</h4>
        <p>
            {% if product.product_image %}
            <img src="{{product.product_image.url}}" width="240"></p>
{% endif %}
        </p>

<span class="badge badge-primary">${{ product.s_price }}</span>
        <p class="card-text">{{ product.product_description }}</p>
<a href="{% url 'buy_product_detail' product_id=product.product_id %}" class="btn btn-primary">More</a>
            </div>

                            </div>
    </div>

{% endfor %}

</div>
        </div>

{% endblock %}